body, html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#contentBox {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Nueue", sans-serif;
}

#background, #foreground {
    display: flex;
    flex-direction: column;
    
}
#background {
    background-color: whitesmoke;
    box-shadow: 0em 0em 3em rgba(34,31,32,0.5);
}

#foreground{
    position: absolute;
    align-items: flex-start;
    width: 42rem;
    top: 0px;
    font-size: 7em;
    font-weight: 550;
    line-height: 1em;
    color:rgb(34,31,32);
    height: 100%;
}

#foreBottom{
    margin-top: 15rem;
}

#background > div{
    display:flex;
    font-size: 21em;
    font-weight: 900;
    line-height: 0.9em;
    align-items: center;
    color: rgb(224, 32, 44);
}


#background div:first-child, div:last-child {
    justify-content: space-between;
}

#name {
    font-size: 1.5rem;
    width: 7rem;
    line-height: 1.5rem;
}

.quotes{
    font-size: 1rem;
    width: 10rem;
    line-height: 1rem;
    color: rgb(34,31,32);
}

.tilt {
    transform: rotate(0.10turn);
}

.upsideDown {
    transform: rotate(0.5turn);
}


#circle {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color:rgb(34,31,32);
    margin-left: 8rem;
    font-size: 1rem;
    color: whitesmoke;
    text-align: center;
}

#foreBottom div:nth-child(2) div:first-child{
    display: inline;
}

